<!DOCTYPE html>
<html>
<head>
<style>
	
	

</style>
</head>
<body>
	<form action="action.php">
		<h1>Register Form</h1>
		<hr>
		
		<label for="fname"><b>First Name</b></label>
		<input type="text"  name="fname" required value="" [(ngModel)]="resobj.fname" disabled><br>

        <label for="lname"><b>Last Name</b></label>
		<input type="text"  name="lname" required value="" [(ngModel)]="resobj.lname" disabled><br>
		
		<label for="number"><b>Contact No.</b></label>
		<input type="text" name="number" required value="" [(ngModel)]="resobj.number" disabled><br>
		
		<label for="email"><b>Email</b></label> 
		<input type="text" name="email" required value="" [(ngModel)]="resobj.email" disabled><br>

		<hr>
	
		<!-- <button type="submit" class="registerbutton">Submit</button> -->
		
  
		
		
	</form>


</body>
</html>